<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="\styles\footer.css"></link>
</head>
<body>
    <div class="footer">
        <div class="text">
            <h3><br>This project was made using npm qr-image in nodeJS + expressJS along with embedded javascript. <br>
            <br>And the design was made by me using the vanilla CSS. And also, do not use links that are too long. <br>
            <br><br>
            <br>© 2024 QR Code Generator. All Rights Reserved<br>
        </h3>
        </div>

        <div class="icons">
            <img src="\images\insta.png" class="insta"><br>
            <img src="\images\github.png" class="github"><br>
            <img src="\images\linkedin.png" class="linkedin">
        </div>

        <div class="Socials">
            <h3><a href="https://www.instagram.com/a5hw1n_a5/" target="_blank" class="a">Instagram</a></h3>
            <h3><a href="https://github.com/CausingSquid" target="_blank" class="a">Github</a></h3>
            <h3><a href="https://www.linkedin.com/in/ashwin-as-5126932a2/" target="_blank" class="a">LinkedIn</a></h3>
            
        </div>
        
    </div>
    
</body>
</html>